@{
    Layout = "Layout";
}
<section class="inicio">
    <h2>Bienvenido a nuestra Pinacoteca, "Museo de lo extraordinario"</h2>
    <p>Descubre la belleza del arte a través de nuestras colecciones.</p>
</section>

<img class="imag" src="~/images/Mus.jpg" alt="Logo pinacoteca " />