@model PU5Pinacoteca.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutLogin";
}
<div class="login">
    <div class="login-container">
        <img src="~/Logo_1.jpg" alt="Logo" />
        <form method="post" action="~/Home/Login">
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email"  asp-for="Correo" required />
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" asp-for="Contrasena" required />
            </div>
            <p id="error">@Html.ValidationSummary(true)</p>
            <button type="submit" class="login-button">Iniciar Sesión</button>
            <a class="cancelar-button" href="~/Home">Cancelar</a>
        </form>
    </div>
</div>