@model PU5Pinacoteca.Models.ViewModels.VerCuadrosPorPintorViewModel
@{
    Layout = "Layout";
}
<section id="colecciones">
    <a class="buttonregresar" href="~/Home/VerPintor/@Model.NombrePintor.Replace(" ", "-")">
        <img src="~/images/camino-a-la-izquierda.png" alt="Obra" />
    </a>
    <h1 class="nombreautor">@Model.NombrePintor</h1>
    <div class="obras-lista">
        @if (Model.CuadrosPintor.Count() == 0)
        {
            <h1 class="nohay">Este pintor aún no cuenta con cuadros</h1>

        }else
        {
            @foreach (var item in Model.CuadrosPintor)
            {
                <div class="obra">
                    <div class="pais-seccion">
                        <a class="imgObra" href="~/Home/VerCuadro/@(item.Nombre)">
                            <img src="~/Cuadros/@(item.Id).jpg" alt="Obra" />
                        </a>
                        <h3>@item.Nombre</h3>
                    </div>
                </div>
            }
        }
    </div>

</section>