@model PU5Pinacoteca.Areas.Admin.Models.AdminAgregarCuadroViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
     Layout = "LayoutAdmin";
}
<form action="~/Admin/Cuadros/Editar" method="post" enctype="multipart/form-data">
    <div>
        <h1>Editar Cuadro</h1>
        <input hidden asp-for="Id" id="Id" />
        <label>Título del cuadro:</label>
        <input type="text" id="txtTitulo" asp-for="Nombre" />

        <label>Pintor:</label>
        <select id="cmbPintor" asp-for="IdPintor" asp-items="@(new SelectList(Model.Pintores,"Id","Nombre"))" required>
        </select>

        <label>Año en el que se pintó:</label>
        <input type="text" id="txtFecha" asp-for="AñoPintado" />

        <label>Técnica:</label>
        <input type="text" id="txtTecnica" asp-for="Tecnica" />

        <label>Dimensiones:</label>
        <input type="text" id="txtDimensiones" asp-for="Dimensiones" />

        <label>Colección:</label>
        <select id="cmbColeccion" asp-for="IdColeccion" asp-items="@(new SelectList(Model.Colecciones,"Id","Nombre"))">
        </select>

        <label>Descripción:</label>
        <input type="text" id="txtDescripcion" asp-for="Descripcion" />

        <label>Imagen:</label>
        <input type="file" id="fileUpload1" accept="image/jpg" asp-for="Archivo" />

        <img id="imagePreview" src="~/Cuadros/@(Model.Id).jpg" />

        <div class="botones">
            <p id="error">@Html.ValidationSummary(true)</p>
            <input type="submit" value="Editar" id="btnAgregar" />
            <a href="~/Admin/Cuadros">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </div>
</form>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("imagePreview").src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    document
        .getElementById("fileUpload1")
        .addEventListener("change", function () {
            mostrarImagen(this);
        });
</script>