@model PU5Pinacoteca.Models.Entities.Cuadro
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "LayoutAdmin";
}
<form action="~/Admin/Cuadros/Eliminar" method="post" enctype="multipart/form-data">
    <div class="eliminarartista">
        <h1>Eliminar cuadro</h1>
        <input type="hidden" />
        <input type="hidden" asp-for="Id" />
        <p class="container__textoeliminar mt-3">
            ¿Desea eliminar el cuadro:
            <span class="container__nombrepelicula">@Model.TituloCuadro</span>?
        </p>
        <div class="col mb-2">
            <img class="imagePreviewclass" src="~/Cuadros/@(Model.Id).jpg" />
        </div>
        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Confirmar" id="btnConfirmar" />
            <a href="~/Admin/Cuadros">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </div>
</form>