@model PU5Pinacoteca.Areas.Admin.Models.AdminVerCuadrosViewModel
@{
    Layout = "LayoutAdmin";
}
@if(User.IsInRole("Administrador"))
{
    <a href="~/Admin/Cuadros/Agregar">
        <input type="button" id="agregarObraBtn" value="+" />
    </a>    
}
<section id="colecciones">
    @foreach (var item in Model.Colecciones)
    {
        <h1>@item.Clasificacion</h1>

        <div class="obras-lista">
            @foreach (var i in item.Cuadros)
            {
                <div class="obra2">
                    <div class="pais-seccion">
                            <img src="~/Cuadros/@(i.Id).jpg" alt="Obra" />
                        <h3>@i.Nombre</h3>
                        @if (User.IsInRole("Gestor"))
                        {
                            
                        <div class="botones">
                        <a href="~/Admin/Cuadros/Eliminar/@i.Id" class="btnBorrar">Eliminar</a>
                        <a href="~/Admin/Cuadros/Editar/@i.Id" class="btnEditar">Editar</a>
                        </div>
                        }

                    </div>
                </div>
            }

        </div>
    }
</section>