<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinacoteca</title>
    <link href="~/Styles/styles.css" rel="stylesheet" />
    <link href="~/Logo_1.jpg" rel="icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="~/Logo_1.jpg" alt="Logotipo de Pinacoteca" />
        <h1>Museo de arte extraordinario</h1>
        @if (User.IsInRole("Administrador"))
        {
            <h4>@(User.Identity?.Name), administrador/a</h4>
        }
        else
        {
            
            <h4>@(User.Identity?.Name), gestor/a</h4>
        }
        <a href="~/Home/Logout">Cerrar sesión</a>
      
    </header>

    <nav>
        <a href="~/Admin/Home">Principal</a>
        <a href="~/Admin/Cuadros">Cuadros</a>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2023 Pinacoteca. Programación Web.</p>
    </footer>
</body>
</html>
