body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 5px;
    background-color: #f5f0e1;
}

body h1 {
  font-size: 30px;

}
.nohay{
    font-size:35px;
    color:white;
     margin:10px;
     width:100%;
     align-self:center;
}
header {
  background-color: #a88774; 
  color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 100%;
  height: auto;
  max-height: 80px; 
}
header a {
  margin-left: 45%;
  color: #fff;
  padding: 10px;
  background-color: #7d5c4d;
  text-decoration: none;
}
header a:hover {
  background-color: #997965;
}

nav {
  background-color: #7d5c4d; 
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1em;
  margin: 0 1em;
  font-weight: bold;
}

nav a:hover {
  background-color: #5b4336; 
}

nav a:hover,
.selected {
  background-color: #5b4336; 
}

.colecciones {
  column-gap: 10px;
  columns: 4;
}

.obras-lista {
  columns: 2; 
  column-gap: 10px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #80634e;
  align-items: center;
  text-align: center;
}

.pintor-lista {
  columns: 2; 
  column-gap: 10px;
  list-style: none;
  padding: 10px;
  background-color: #80634e; 
  align-items: center;
  text-align: center;
}

.pintor {
  margin-bottom: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-items: center;
  color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid #ddd;
  background-color: #664c3a; 
}

.pintor img {
  align-items: center;
  max-width: 200%;
  width: 280px;
  height: 355px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-top: 30px;
  align-content: center;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.3s;
}
.pintor h3 {
  margin-top: 55%;
}
.obra {
  margin-bottom: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-items: center;
  color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid #ddd;
  background-color: #664c3a;
}

.obra h3 {
  font-size: 20px;
  margin-top: 395px;
  margin-left: -100%;
}

.obra p {
  font-size: 16px;
  margin-left: -100%;
}

.obra img {
  align-items: center;
  max-width: 400%;
  width: 400px;
  height: 345px;
  margin-bottom: 100px;
  margin-left: 40%;
  margin-top: 30px;
  align-content: center;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

input#agregarObraBtn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 23px;
  width: 60px;
  height: 70px;
  background-color: #5b4336;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
}

.obra2 {
  margin-bottom: 10px;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-items: center;
  color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid #ddd;
  background-color: #664c3a;
}

.obra2 img {
  align-items: center;
  max-width: 200%;
  width: 400px;
  height: 250px;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-top: 60px;
  align-content: center;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nombreautor {
  text-align: center;
  margin-top: 10px;
}

.imag {
  height: 100%;
  width: 100%;
}

.login {
  font-family: Arial, sans-serif;
  background-color: #997965;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btnEditar,
.btnBorrar {
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}

.obra-actions {
  margin-top: 300px;
  margin-right: 100px;
  margin-bottom: -40px;
}

.btnEditar {
  background-color: #997965;
}

.btnEditar:hover {
  background-color: #5b4336;
}

.btnBorrar {
  background-color: #7d5c4d;
}

.btnBorrar:hover {
  background-color: #5b4336;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-container img {
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.form-group {
  text-align: left;
  margin-bottom: 40px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #664c3a;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #80634e;
}
.cancelar-button {
  background-color: #664c3a;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.cancelar-button:hover {
  background-color: #80634e;
}

.pintor img:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

.obra img:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

section {
  padding: 1px;
}

.fecha-nacim {
  padding-left: 25px;
  align-items: center;
  padding-right: 20px;
}

.fecha-falleci {
  align-items: center;
  padding-left: 25px;
  padding-right: 20px;
}

.pais-seccion {
  margin-top: 5px; 
  break-inside: avoid; 
  margin-bottom: 30px;
  columns: 2;
  border-radius: 8px;
  text-align: center;
}
.nombre, .fecha-falleci, .fecha-nacim{
    font-size:20px;
}

.est {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.obra .nombre {
  justify-content: center;
  font-size: 20px;
  margin-top: 180px;
  margin-left: -20%;
}

.est h1 {
  font-size: 35px;
}

.est p {
  font-size: 18px;
  text-align: center;
}

.estampilla {
  max-width: 400px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-shrink: 0;
  margin-left: 23px;
  margin-right: auto;
}

.estampillapintor {
  max-width: 400px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-shrink: 0;
  margin-left: 110px;
  margin-right: auto;
}
.estampillapintor img {
  max-width: 100%;
  max-height: 350px;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.estampilla img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.descripcionpintor {
  text-align: center;
  max-width: 600px;
  margin-left: 80px;
  margin-right:10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  flex-grow: 1;
}

.descripcion {
  text-align: center;
  max-width: 600px;
  margin-left: 10px;
  margin-right:20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  flex-grow: 1;
}

.botones {
  text-align: center;
  margin-top: 25px;
}
.botones img {
  height: 50px;
}
a.button {
  display: inline-block;
  padding: 10px;
  background-color: #664c3a;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  margin: 5px 5px;
  cursor: pointer;
}
.button img {
  height: 40px;
}
a.buttonregresar {
  position: fixed;
  bottom: 40px;
  right: 20px;
  padding: 8px 8px;
  border: none;
  border-radius: 15px;
  width: 50px;
  height: 40px;
  background-color: #5b4336;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
}
.buttonregresar img {
  height: 40px;
}
footer {
  background-color: #997965; 
  color: #fff;
  text-align: center;
  padding: 1px;
  position: static;
  bottom: 0;
  width: 100%;
}
